<header class="masthead bg-primary text-white text-center">
      <div class="container">
        <div class="text-center mt-4">
        	<h1>New Document</h1>

<%= render 'form', document: @document %>
          <a class="btn btn-xl btn-outline-light" href="#">
            <i class="fa fa-upload mr-2"></i>
            Append to Project
          </a>
        </div>

      </div>
    </header>
