<!-- Header -->
    <header class="masthead bg-primary text-white text-center">
      <div class="container">
        <%= image_tag("logospin.gif", class: "img-fluid mb-5 d-block mx-auto", height: "250", width: "250", alt: "DAT LOGO") %>
        <h1 class="text-uppercase mb-0">Accountable.</h1>
        <h1 class="text-uppercase mb-0">Distributed.</h1>
        <h1 class="text-uppercase mb-0">Secure.</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">Much Security. Such Distribution. To The Moon.</h2>
      </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section class="services" id="services">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">What We Do</h2>
        <hr class="star-dark mb-5">
        <div class="row">
          <div class="col-sm-4">
            <a class="services-item d-block mx-auto">
              <%= image_tag("services/block.jpg", class: "img-fluid") %>
            </a>
          </div>
         <div class="col-sm-8">
            <h2 class="font-weight-medium mb-4">Validity is Trust.</h2>
            <p class="lead">In order to comply with regulations organizations must adhere to various protocols and standards.
            Fulfilling compliance requires organizations to prove adherence through extensive documentation.</p>
			     <p class="lead">Issues -- <br />
              Identity (did the necessary people interact with the file ie. review, authorize, etc) <br />
              Ease of forging: It's trivial to create documentation with faked signatures referencing false events (that didn't actually occur)<br />
              External Authorities: Are limited to documentation from the source itself creating issues of trust.<br />
            </p>
            <p class="lead">Validity utilizes Ethereum's blockchain to instill trust in any organization's documentation by adding transparency to its process.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- About Section -->
    <section class="bg-primary text-white mb-0" id="about">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">About</h2>
        <hr class="star-light mb-5">
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <p class="lead">Providing today's successful enterprises the framework for streamlining process and maximizing success, Validity is the cornerstone in modern audit substantive testing.</p>
          </div>
          <div class="col-lg-4 mr-auto">
            <p class="lead">Create flexible new workflows or confirm current process and procedure against the decentralized blockchain, all while minimizing administrative costs and data risk to existing file stores.</p>
          </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">How it Works</h2>
        <hr class="star-dark mb-5">
        <div class="row"><%= image_tag "process.png"%>
          <div class="col-lg-8 mx-auto">

<ol>
<li>Users uploads document through WebApp Frontend.</li>

<li>WebApp uploads the encrypted document to an IPFS Node.</li>

<li>IPFS Node returns global location hash of that document to WebApp.</li>

<li>WebApp then writes these values to the REDIS key value store.</li>

<li>New values written to REDIS are processed by the HASHER worker.</li>

<li>The HASHER worker encrypts the data and sends to the ENCODER worker.</li>

<li>The ENCODER worker creates a smart contract on the Ganach_CLI Test node {blockchain} with our data.</li>

<li>The Ganache_CLI then returns the address of the where the document/object was stored back to the ENCODER worker.</li>

<li>The ENCODER worker then writes this address back to REDIS store.</li>

<li>A WebApp worker subscribed to the REDIS processes with new entries.</li>
<li>This worker then inserts that new data to the WebApp Database.</li>

<li>Information needed by WebApp can be queried from the WebApp Database.</li>
</ol>

  </div>
        </div>
      </div>
    </section>



    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>
